body {
    margin: 0;
}
.home-page {
    height: 96vh;    
    padding: 20px 40px;    
    background: rgb(95,77,93);
    background: linear-gradient(90deg, rgba(95,77,93,1) 0%, rgba(110,135,138,1) 100%);
}
.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    
}
.name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
}
.top-menu {
    display: flex;
    flex-wrap: wrap;
}
.top-menu-item {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
}
main {
    width: 100%;
    height: 80%;
}
.footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.bottom-menu {
    display: flex;
    flex-wrap: wrap;
}
.bottom-menu-item {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
}
.contacts {
    display: flex;
}
.logo-link {
    margin-right: 50px;
}
.logo {
    height: 40px;    
}
